@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 10px;
    background-color: beige;
}
footer {
    height:40px;
}

.space {
    height: 50px;
}

li {
    width: 20%;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}

    li:hover {
        background-color: aqua;
    }

ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    background-image: linear-gradient(yellow, green);
    height: 100px;
}
